<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363037802045-g9e54dmovqqfsdhahmkc2gkb1icd2sr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363037802045-g9e54dmovqqfsdhahmkc2gkb1icd2sr3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>363037802045-nbr061h7ea4sciqpjgdunodsc7g02l8i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBsrBBmxN52dlmlNQt08ke-Ym4_3XBn6e0</string>
	<key>GCM_SENDER_ID</key>
	<string>363037802045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.netcare</string>
	<key>PROJECT_ID</key>
	<string>netcare-73e0b</string>
	<key>STORAGE_BUCKET</key>
	<string>netcare-73e0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363037802045:ios:07269a4388bcb5329eb454</string>
</dict>
</plist>